@media (min-width: 640px) {
    // SECTION 1 //
    .section1 {

        .container {
            background: url("../images/elements-graphiques/gifs/Cat1.gif") right bottom no-repeat, url("../images/elements-graphiques/plante2.png") left bottom no-repeat, url("../images/elements-graphiques/plante2.png") left bottom no-repeat, url("../images/elements-graphiques/plante2.png") 150px bottom no-repeat;
            background-size: 70%, 35%, 20%, 10%;

            .content {

                nav {

                    a:not(:first-child),
                    a:not(:last-child) {
                        font-size: $a-sm;
                    }
                }

                .titre {

                    .soustitre {

                        h3 {
                            font-size: $h3-sm;
                        }

                        span {
                            height: 9px;
                            width: 9px;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }

    // SECTION 2 //
    .section2 {

        .container {
            background: url("../images/elements-graphiques/grande-fleur.png") right 380px no-repeat, url("../images/elements-graphiques/fenetre.png") 270px 420px no-repeat;
            background-size: 60%, 55%;

            .contentOne {

                .titre {
                    padding-left: 15%;
                    padding-right: 15%;

                    h2 {
                        font-size: $h2-sm;
                    }

                    p {
                        font-size: $p-sm;
                    }
                }

                .horaires {
                    height: 35%;
                    width: 50%;
                    align-items: center;

                    table {

                        tr {

                            td {
                                font-size: $h3-sm;
                            }
                        }
                    }
                }

                .btnMenu {
                    height: 20%;
                    justify-content: flex-start;

                    button {
                        font-size: $btn-sm;
                    }
                }
            }
        }
    }

    // SECTION 3 //
    .section3 {

        .container {

            .titre {

                h2 {
                    font-size: $h2-sm;
                }
            }

            .content {
                display: flex;
                flex-wrap: wrap;

                .border {

                    .card {
                        display: flex;

                        .item1 {
                            height: 100%;
                            width: 50%;
                            border-bottom: none;
                            border-right: 3px solid $sec3-color;
                        }

                        .item2 {
                            height: 100%;
                            width: 50%;
                        }
                    }
                }
            }
        }
    }

    // SECTION 4 //
    .section4 {

        .container {
            height: 1000px;

            .mur {

                .logoKopi {
                    right: 50px;
                }

                .titreKopi {

                    h2 {
                        font-size: $h2-sm;
                    }
                }
            }

            .elementsGraphiques {
                height: 100px;

                #cafetiere {
                    left: 35px;
                }

                #grandSac {
                    top: -90px;
                    right: 70px;
                }

                #petitSac {
                    top: 10px;
                    right: 30px;
                }
            }

            .kopi {
                height: 450px;
                justify-content: center;
                align-items: center;

                .description {
                    width: 70%;

                    p {
                        font-size: $p-sm;
                    }
                }
            }

            .btnKopi {
                grid-template-columns: auto;

                button {

                    a {
                        font-size: $btn-sm;
                    }
                }
            }
        }
    }

    // SECTION 5 //
    .section5 {

        .container {

            .clickToEnter {

                h2 {
                    font-size: $h2-sm;
                }
            }
        }

        footer {

            .container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

    // RESERVE //

    .reserve {

        .container {

            .content {

                nav {

                    a:not(:first-child),
                    a:not(:last-child) {
                        font-size: $a-sm;
                    }
                }

                .titre {

                    h2 {
                        font-size: $h2-sm;
                    }
                }

                .formulaire {
                    display: grid;
                    place-items: center;

                    form {
                        width: 90%;

                        div {

                            label {
                                font-size: $p-sm;
                            }
                        }
                    }
                }

                .see {

                    h3 {
                        font-size: $h3-sm;
                    }
                }
            }
        }
    }

    // KOPI //

    .kopiOne {
        height: 1100px;

        .container {

            .content {

                nav {

                    a:not(:first-child),
                    a:not(:last-child) {
                        font-size: $a-sm;
                    }
                }

                .titre {

                    h2 {
                        font-size: $h2-sm;
                    }
                }

                .texte {
                    background-image: url('../images/elements-graphiques/grand-sac.png'), url('../images/elements-graphiques/tasse.png'), url('../images/elements-graphiques/cafetiere.png'), url('../images/elements-graphiques/petite-fleur.png'), url("../images/elements-graphiques/muffin.png");
                    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
                    background-position: 330px 130px, 50px 270px, 330px bottom, 30px bottom, 160px 240px;
                    background-size: 150px, 100px, 150px, 150px, 80px;

                    p {
                        font-size: $p-sm;
                    }
                }
            }
        }
    }

    .kopiTwo {
        height: 900px;

        .container {

            .content {

                .titre {
                    height: 40%;

                    img {
                        height: 30%;
                        width: 30%;
                    }
                }

                .video {
                    height: 40%;
                }

                .liens {

                    p {
                        font-size: $p-sm;
                    }

                    ul {

                        li {

                            a {
                                font-size: $p-sm;
                            }
                        }
                    }
                }
            }
        }
    }

    .three {

        .container {

            .content {

                nav {

                    a:not(:first-child),
                    a:not(:last-child) {
                        font-size: $a-sm;
                    }
                }
            }
        }
    }
}
