// FONTS //
    @import url("https://use.typekit.net/icv4xkq.css");
    // font-family: "santelia-script", sans-serif;
    @import url("https://use.typekit.net/icv4xkq.css");
    // font-family: "dunbar-text", sans-serif;

// COLORS //
    // BODY
    $body: #F5F5F5;

    // PRIMARY
    $sec1-text: #3B240B;
    $sec1-color: #F5DEB3;

    $sec2-text: #FFFFFF;
    $sec2-color: #556B2F;

    $sec3-text: #FFFFFF;
    $sec3-color: #556B2F;

    $sec4-text: #000000;
    $sec4-color: #D2B48C;

    $sec5-text: #000000;
    $sec5-color: #D2B48C;

    $footer-text: #5C4033;
    $footer-color: #FBECE5;

    // SECONDARY
    $blacky: #2B2B2B;
    $whity: #F2F2F2;

// TEXTS //
    // XS //
    $h2-xs: 36px;
    $h3-xs: 21px;
    $p-xs: 16px;

    $desc-xs: 12px;
    $age-xs: 12px;

    $btn-xs: 16px;
    $a-xs: 21px;
    
    // SM //
    $h2-sm: 36px;
    $h3-sm: 18px;
    $p-sm: 16px;

    $age-sm: 12px;

    $btn-sm: 16px;
    $a-sm: 18px;

    // MD //
    $h2-md: 48px;
    $h3-md: 21px;
    $p-md: 18px;

    $age-md: 12px;

    $btn-md: 18px;
    $a-md: 18px;

    // LG //
    $h2-lg: 48px;
    $h3-lg: 21px;
    $p-lg: 18px;

    $age-lg: 12px;

    $btn-lg: 21px;
    $a-lg: 21px;

    // XL //
    $h2-xl: 60px;
    $h3-xl: 24px;
    $p-xl: 21px;

    $age-xl: 12px;

    $btn-xl: 24px;
    $a-xl: 24px;

    // XXL //
    $h2-xxl: 60px;
    $h3-xxl: 24px;
    $p-xxl: 21px;

    $age-xxl: 12px;

    $btn-xxl: 24px;
    $a-xxl: 24px;